.cardUser {
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  padding-top: 6px;
  color: $font-dark;
  cursor: pointer;

  // &:hover {
  //   .cardUser__delete {
  //     display: block;
  //   }
  // }

  &__img {
    width: 40px;
    height: 40px;
  }

  &__name {
    margin-left: 12px;
    padding: 6px 0px;
    min-height: 50px;
  }

  &__delete {
    color: $primary;
  }
}
