$primary: #fab43c;

$background-light: #fff;
$background-grey-light: #e5e5e5;

$font-light: #fff;
$font-dark: #626262;
$font-grey-light: #9a9a9a;
$font-danger: #ff0000;

$border-light: #e0e0e0;
$border-grey-dark: #626262;
$border-grey-light: #dedfe0;
