.menu {
  margin-bottom: 12px;
  &__input {
    background-color: #fff;
    height: 36px;
    width: 70%;
    border-radius: 0px !important;
    color: $font-dark !important;
    border: 1px solid #fff !important;
  }
}

.MuiOutlinedInput-notchedOutline {
  border-color: #fff !important;
}

.button {
  background-color: $primary !important;
  color: $font-light !important;
  box-shadow: none !important;
}
